<h1>ABOUT</h1>
<p>MarketOSU is the product of an Ohio State student who was frustrated with the options he had for buying and selling his textbooks and event tickets. Why was the whole process so disorganized and often done on Facebook? And why are nine- tenths of the responses on Craigslist scammers?


With MarketOSU, you spend less time looking for that extra OSU vs. Michigan ticket, and less time finding students to sell your Psych 100 book to. Simply create an account using your OSU email address and tell us the books and tickets you have, and those that you are looking for. When someone posts a matching item or a request for an item that you have, we'll send you an email. It's that simple.


Facebook is great for a lot of things - but not for buying or selling your books and event tickets. We eliminate time spent wading through Facebook groups, and MarketOSU is only available to Ohio State students - not creeps or spammers.


If you have further questions about specific policies or features, please visit our Frequently Asked Questions.</p>