<h1>My Penis</h1>
<p>Let me tell you about my penis</p>

<div class="jumbotron center">
	<p> You can check out a fictitious representation of my penis by clicking  <%= link_to "Here", "http://en.inkei.net/Jay_Clouse", class: "btn btn-danger btn-md" %></p>
</div>